body {
    font-family: 'Robot Condensed', sans-serif;
    font-weight: lighter;
    color: #333;
    font-size: 20px;
}

main {
    width: 960px;
    max-width: 100%;
    margin: 24px auto;
}

section {
    position: relative;
    box-sizing: border-box;
    float: left;
    height: 450px;
    padding-top: 15px;
    border: 2px solid #666;
    outline: 1px solid #ccc;
    margin: 5px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: border-color 1s;
}

#section-hangman {
    width: 38%;
}

#section-game {
    width: 58%;
}

#hangman-placeholder {
    width: 200px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border-top: 4px solid #ccc;
    border-left: 4px solid #ccc;
}

.man {
    font-size: 70px;
    font-weight: 800;
    line-height: 90%;
    color: #777;
    position: relative;
    opacity: 0;
    transition: opacity 1.5s;
}

#hangman-head {
    width: 100%;
    height: 33%;
    top: 20px;
    font-weight: 700;
}

#hangman-armL, #hangman-armR {
    float: left;
    width: 45%;
    height: 33%;
    font-size: 74px;
}

#hangman-legL, #hangman-legR {
    float: left;
    width: 50%;
    height: 33%;
    font-size: 74px;
}

#hangman-body {
    float: left;
    top: 10px;
}

#hangman-armL, #hangman-legL {
    text-align: right;
    transform: rotate(20deg);
    left: -20px;
}

#hangman-armR, #hangman-legR {
    text-align: left;
    transform: rotate(-20deg);
    right: -20px;
}


.letter {
    display: inline-block;
    position: relative;
    margin: 3px;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 2px 2px #cccccc;
    animation: letter-bounce;
    animation-duration: 0.6s;
    color: #333;
    background-color: white;

}

.no-bounce {
    animation: none;
}

.tally {
    margin: 0 18px 0 7px;
    animation: letter-spin;
    animation-duration: 1s;
}

.l1 {
    animation-delay: 0.05s;
}

.l2 {
    animation-delay: 0.1s;
}

.l3 {
    animation-delay: 0.15s;
}

.l4 {
    animation-delay: 0.2s;
}

.l5 {
    animation-delay: 0.25s;
}

@keyframes letter-bounce {
    0% {bottom: 0px;}
    25% {bottom: 4px;}
    50% {bottom: -2px;}
    100% { bottom: 0px}
}

@keyframes letter-spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

p {
    padding: 12px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    padding: 16px;
    position: absolute;
    top: 0px;
    border-bottom: 2px solid #666;
    background-color: #f6f6f6;
    transition: border-color 1s;
}

header::after, main::after, section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px 0 10px 0;
    background-color:#666666;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
}


@media screen and (max-width: 750px) {
    section {
        float: none;
    }

    #section-hangman {
        width: 100%;
        height: 300px;
    }

    #section-game {
        width: 100%;
        height: initial;
        padding-top: 85px;
        padding-bottom: 15px;
    }

    #title {
        display: none;
    }

    #score {
        height: auto;
    }
}

